body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.peter{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 6%;
    
}
.half-width img{
    width: 85%;
}
.hire-button{
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient( 45deg, lightsalmon, tomato);
    color: white;
    border-radius: 5px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.extrapadding{
    padding-right: 8%;
}
.extra-half-width{
    width: 90%;
}
.experince-item{
    box-shadow: 5px 7px 40px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    border-radius: 7px;
}
.experince-item h2{
    font-size: 37px;
}
.experince-item h3{
    color: orange;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
#experience-order1{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#experience-order2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: dimgray;
}